/* margin , padding , box-sizing reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body font style */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f6f8f9;
}

/* header style */

.container-logo {
    padding: 0 15px;
    width: 100vw;
    height: 100px;
    display: inline-block;
    line-height: 100px;
    background-color: white;
}

.logo {
    vertical-align: middle;
}

.title {
    font-size: 50px;
    font-weight: bolder;
    vertical-align: middle;
}

/* nav section style settings */
 
nav {
    width: 75%;
    margin: 50px auto 10px auto; 
    padding: 15px 80px;
    background-color: white;
    border-radius: 10px;
}

.add {
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 15px;
}

.task-button {
    border: transparent;
    background-color: #47adf1;
    color: white;
}

.section-button {
    border: 1px #c8ced3 solid;
    color: #c8ced3;
    background-color: white;
}

/* main section style and settings  */

main {
    width: 75%;
    margin: 0 auto 10px auto; 
    padding: 30px 80px;
    background-color: white;
    border-radius: 10px;
}
 /* list style */
.main-list, .sub-list {
    list-style-type: none;
}

.list-title {
    font-size: 25px ;
}

.sub-list{
    font-size: 20px;
    margin: 7px;
}

.sub-list li {
    margin-bottom: 30px;
}
/* checkbox style */
.checkbox {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid;
}

.check {
    color: green;
    border-color:green;
}

.cross {
    color: red;
    border-color: red;
}

/* type of task sign style */

.type-of-task{
    color:white;
    border: none;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}

.editorial{
    background-color: #45abea;
}

.q1-goals{
    background-color: #9c72e4;
}

.recruiting {
     background-color:  #64c0a9;
 }

 .mobile {
    background-color: #f29e33;
 }

 .website {
    background-color: #d863a1;
 }

 .sales {
    background-color: #b0c926;
 }

